# compiled output
/dist

# dependencies from project
node_modules
/__config*
!/__config.debug

/.cache
/.husky
/public
/build

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv
*.env
.env.*
!.development.env
!.test.env

